.text-area {
    padding: 5px;
    width: calc(100vw - 30px);
    height: calc(100vh - 295px);
}

.keyboard {
    position: fixed;
    left: 0;
    /* bottom: 0; */
    width: 100%;
    padding: 5px 0;
    background: transparent; /* Прозрачный фон клавиатуры */
    /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); */
    transition: bottom 0.4s;
    bottom: 2%;
}

.keyboard--hidden {
    bottom: -100%;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 70px;
    width: 70px; /* Квадратные кнопки */
    margin: 3px;
    border-radius: 4px;
    border: 2px solid white; /* Белые кнопки */
    background: white; /* Прозрачный фон */
    color: black; /* Черные буквы */
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    font-family: "YSGeoRegular";
    font-weight: 400;
    font-size: 35px;
}

.keyboard__key:active {
    background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
    width: 145px; /* Широкие кнопки также будут квадратными */
}

.keyboard__key-small {
    width: 145px; /* Широкие кнопки также будут квадратными */
}

.keyboard__key--extra--wide {
    width: 605px; /* Еще более широкие кнопки также будут квадратными */
}

.keyboard__key--activatable::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: #08ff00;
}

.keyboard__key--yellow{
    background: #CCFF00;
}

.keyboard__key--dark {
    background: rgba(117, 109, 109, 0.25);
}

.material-icons {
    color: black; /* Черный цвет для иконок */
}
