/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-image: url('Sprites/bg.jpg');
    background-size: cover; /* Растягиваем изображение на весь экран */
    background-position: center; /* Центрируем изображение по центру экрана */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Центрируем контент по горизонтали */
    align-items: center; /* Центрируем контент по вертикали */
    min-height: 100vh; /* Чтобы контент был посередине на всю высоту экрана */
  }