/* Общие стили */
body {
  font-family: Arial, sans-serif;
  background-image: url('Sprites/bg.jpg');
  background-size: cover; /* Растягиваем изображение на весь экран */
  background-position: center; /* Центрируем изображение по центру экрана */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Центрируем контент по горизонтали */
  align-items: center; /* Центрируем контент по вертикали */
  min-height: 100vh; /* Чтобы контент был посередине на всю высоту экрана */
}

.container {
  width: 80%; /* Ширина контейнера на 80% от ширины экрана */
  background-color: rgba(131, 104, 220, 0.9); /* Белый цвет фона с прозрачностью 0.9 */
  padding: 50px; /* Добавим немного отступов для контента внутри контейнера */
  border-radius: 10px; /* Закругленные углы на 10px */
}


label, #question {
  /* display: inline-block; */
  /* white-space: nowrap; */
  font-size: 16px; /* Базовый размер шрифта */
  transition: font-size 0.4s ease;
  overflow-wrap: break-word;/* Перенос слов */
  
}



.question-block, .answer-block {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  max-height: 150px; /* Ограничиваем максимальную высоту */
  overflow: hidden; /* Обрезаем текст, который не помещается */
}

.question-block {
  width: 100%;
  height: 100px; /* Фиксированная высота для вопроса */
}

.answer-block {
  width: calc(50% - 10px); /* Фиксированная ширина для блоков с ответами */
  height: 200px; /* Фиксированная высота для блоков с ответами */
  display: inline-block; /* Отображение inline-block для размещения в ряд */
  vertical-align: top; /* Выравнивание по верхнему краю */
}

.send_button {
  margin-top: 20px;
  text-align: center;
}

/* Стили для кнопки */
.custom-btn {
  display: inline-block; /* Изменяем отображение на блочный элемент */
  background-color: #1a3ede;
  border: none;
  color: white;
  text-align: center; /* Выравниваем текст по центру */
  font-size: 16px;
  padding: 10px 24px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  overflow: hidden;
  position: relative;
}

.custom-btn:after {
  content: "";
  background: #1100f8;
  display: block;
  position: absolute;
  z-index: -1;
  transition: all 0.4s;
}

.custom-btn:hover:after {
  width: 100%;
  left: 0;
}

/* Дополнительные стили для кнопки */
.btn-3 {
  color: #FFFFFF;
  border: 2px solid #3300ff;
}

.btn-3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.btn-3 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-3:hover span {
  padding-right: 25px;
}

.btn-3:hover span:after {
  opacity: 1;
  right: 0;
}
