<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма</title>
    <link rel="stylesheet" type="text/css" href="../static/css/form.css">
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../static/css/Sprites/form/logoForm.png" alt="Авто.ру Лого">
        </div>
        <h1 class="font-ysgeo size-70">ДАВАЙТЕ ЗНАКОМИТЬСЯ</h1>
        <div class="form-grid">
            <div class="text-field">
                <label class="text-field__label font-ysdisplay size-25" for="name">Имя</label>
                <input class="text-field__input font-ysreg size-25" type="text" id="name" placeholder='Иван'>
            </div>
            <div class="text-field">
                <label class="text-field__label font-ysdisplay size-25" for="surname">Фамилия</label>
                <input class="text-field__input font-ysreg size-25" type="text" id="surname" placeholder='Иванов'>
            </div>
            <div class="text-field">
                <label class="text-field__label font-ysdisplay size-25" for="email">E-Mail</label>
                <input class="text-field__input font-ysreg size-25" type="email" id="email" placeholder='info@gmail.ru'>
            </div>
            <div class="text-field">
                <label class="text-field__label font-ysdisplay size-25" for="tel">Телефон</label>
                <input class="text-field__input font-ysreg size-25" type="tel" id="phone" placeholder='+7 999 888 77 66'>
            </div>
        </div>
        <div class="switch-field">
            <label class="switch">
                <input type="checkbox" id="check">
                <span class="checkmark"></span>
            </label>
            <label id="Soglasiye" class="text-field__label font-ysdisplay size-20">
              Даю согласие ООО «Яндекс.Вертикали» (ОГРН 5157746192742) на обработку указанных сведений в целях принятия участия в мероприятии, направления обратной связи по мероприятию, на условиях Политики конфиденциальности
          </label>
        </div>
        <div class="send_button">
            <img src="../static/css/Sprites/form/nextButton.png" alt="Перейти к опросу" onclick='GetFormData("/getFormData")'>
        </div>
    </div>
</body>
</html>
