<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вопрос №{{context.numerator}}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- <script src="../static/js/modules.js" type="application/javascript"></script> -->
    <script src="../static/js/script.js" ></script>
    <script src="../static/js/start.js"></script>

</head>
<body>
    <div class="container">
      <h1>Вопрос №{{context.numerator}}</h1>
      
      <div class="question-field">
        <h2 id="question">{{context.question}}</h2>
        {% for answer in context.answers %}
        <div class="Option1">
          <input type="radio" id="InputOption1" name="color" value='{{answer.answer1}}'>
          <label id="option1" for="InputOption1">{{answer.answer1}}</label>
        </div>

        <div class="Option2">
          <input type="radio" id="InputOption2" name="color" value='{{answer.answer2}}'>
          <label id="option2" for="InputOption2">{{answer.answer2}}</label>
        </div>

        <div class="Option3">
          <input type="radio" id="InputOption3" name="color" value='{{answer.answer3}}'>
          <label id="option3" for="InputOption3">{{answer.answer3}}</label>
        </div>

        <div class="Option4">
          <input type="radio" id="InputOption4" name="color" value='{{answer.answer4}}'>
          <label id="option4" for="InputOption4">{{answer.answer4}}</label>
        </div>
      </div>
      {% endfor %}
      
      <div class="send_button">
        <button class="custom-btn btn-3" onclick='CheckAnswer("/checkAnswer")'><span>Следующий вопрос</span></button>
      </div>
    </div>
</body>
</html>
