<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Авто.ру | Квиз</title>
<link rel="stylesheet" type="text/css" href="../static/css/startPage.css">
<script src="http://code.jquery.com/jquery-3.3.1.js"></script>
<script src="../static/js/script.js" ></script>
</head>
<body>
<!-- <div class="container"> -->
  <div class="logo">
    <img src="../static/css/Sprites/startPage/logo.png" alt="Авто.ру Лого">
  </div>
  <div class="send_button">
    <img src="../static/css/Sprites/startPage/button.png" alt="Начать" onclick='ToPage("/form")'>
  </div>
<!-- </div> -->
</body>
</html>
